# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://faltruhdczvgyfltmick.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZhbHRydWhkY3p2Z3lmbHRtaWNrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI2NzI1NDQsImV4cCI6MjA3ODI0ODU0NH0.qNbVMxGAd0nW75AGB4lqnVaK30lRRyD7FAaMiW5BZuA
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZhbHRydWhkY3p2Z3lmbHRtaWNrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI2NzI1NDQsImV4cCI6MjA3ODI0ODU0NH0.qNbVMxGAd0nW75AGB4lqnVaK30lRRyD7FAaMiW5BZuA
